/docker/.idea/
/docker/db/master/.data/
.idea/
.env
docker/nginx/nginx_log/
symfony/public/.htaccess
symfony/.env
symfony/.env copy.local
symfony/vendor.zip
symfony/yarn.zip
symfony/.firstrun_php
symfony/package-lock.json
symfony/yarn.lock
symfony/node_modules
symfony/config/jwt
docker/db/mysql/data/

docker/nginx/logs/
