@import "~bootstrap";
@import "bootstrap-icons.css";
@import "blog.css";
@import "admin/dashboard.css";
/*@import "signin.css";*/

.container{
  width: 100%;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}
