{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}

{% block body %}
    <div class="container form-control w-50 my-4">
        {{ user.email }}
        <a href="#" class="btn btn-primary">войти</a>
    </div>
{% endblock %}
