{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} {{ titleText }}{% endblock %}

{% block body %}
    <h1 class="h2">{{ titleText }}</h1>
    {{ include('admin/question/form.html.twig', {'buttonText': buttonText}) }}

{% endblock %}
