{% extends 'emails/base.html.twig' %}
{% block title %} Welcome to {{ app_name }} {% endblock %}
{% block body %}
    <p>Хеллоу, дорогой {{ user.firstName?? 'Пользователь' }}!</p>
    <p>Это тестовое письмо, которое отсылается после регистрации пользователя.</p>
    <p class="button">
        <a class="text-no-decoration text-cornflowerblue" href="{{ loginLinkDetails.url }}">Авторизоваться</a>
    </p>

{% endblock %}