{% extends 'emails/base.html.twig' %}
{% block title %} Welcome to {{ app_name }} {% endblock %}
{% block body %}
    <p>Хеллоу, дорогой {{ user.profile.firstName?? 'Пользователь' }}!</p>
    <p>Это письмо, которое содержит ссылку для авторизации пользователя. Ссылка будет активной пару минут.</p>
    <p class="button">
        <a class="text-no-decoration text-cornflowerblue" href="{{ loginLink }}">Авторизоваться</a>
    </p>

{% endblock %}